<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/style.css">
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>


<body>
<form class="decor" action="/register" method="post">
    <div class="form-left-decoration"></div>
    <div class="form-right-decoration"></div>
    <div class="circle"></div>
    <div class="form-inner">
        <h3>Регистрация на олимпиаду</h3>
        <input type="text" placeholder="ФИО" name="name" required>
        <input type="email" placeholder="Электронная почта" name="email" required>
        <input type="text" placeholder="Номер группы" name="group" required>
        <input type="text" placeholder="Номер телефона" name="number" required>
        <input type="number" placeholder="Курс" name="course" required>
        <input type="submit" value="Отправить">
    </div>
</form>
</body>



</html>